body{
    height: 100vh;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.wrapper .form{
    width: 100%;
}

.invalid label{
    color: #dc3545;
}

.invalid input{
    border-color: #dc3545;
}

.invalid input::placeholder{
    color: #dc3545;
    opacity: 1;
}

.invalid small{
    color:#dc3545;
}
